/* Variables */
:root {
  --main-bg: #008979;
  --btn-color: #fff;
  --btn-bg: #008979;
  --btn-transition: all 0.15 ease;
}

/* Buttons */
.btn {
  color: var(--btn-color);
  background-color: var(--btn-bg);
}

.btn:hover {
  color: var(--btn-color);
  transition: var(--btn-transition);
  opacity: 0.85;
}

.content-table {
  max-height: 700px;
  border-collapse: collapse;
  margin: 2rem 0;
  min-width: 300px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.content-table thead tr {
  background-color: var(--main-bg);
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}
.content-table tbody tr:nth-of-type(odd) {
  background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #008979;
}
.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.message {
  color: #fff;
  padding: 7px 5px;
  margin: 10px 0;
  border-radius: 5px;
}
.success {
  background-color: var(--main-bg);
}

.failed {
  background-color: red;
}

.csv_file {
  padding: 7px;
  border: 1px dashed #000;
  border-radius: 7px;
  background-color: honeydew;
  cursor: pointer;
}
